@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Koulen&family=Poppins:ital,wght@1,200&family=Square+Peg&display=swap');

/*font-family: 'Gruppo', cursive;
font-family: 'Koulen', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Square Peg', cursive;*/

 

.marginFooter{
    margin-top: 5rem;
}

.headerSize{
    height: 25rem;
    max-height: 25rem;
    background: url(../img/panora\,ica.jpg )no-repeat;
    background-size: cover;
}



.items{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: bolder ;    
    color: white;
}


* {
    padding: 0px;
    margin: 0px;
}

.body {
    background-color: black;

}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background: url(../img/panora\,ica.jpg )no-repeat;
    background-size: cover;


}

.titulo {
    font-family: 'Gruppo', cursive;
    color: rgb(68, 65, 65);
    margin-bottom: 10px;
}

.flex {
    width: 80%;
    height: 20%;
    margin: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    list-style: none;
    padding: 5px;
   
}
.flex li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: bolder ;
    color: white;
}

.main {

    grid-area: main;
    height: 100%;
    width: 100%;
    background-color: black;
}

p {
    font-family: 'Koulen', cursive;
    color: bisque;
    font-size: larger;
}

iframe {
    width: 100%;
}
.actividades{
    display: grid
    
}

.actividades a{
    color: bisque;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: bolder ;
    text-decoration: none;
    
}

.actividades img{
    border-radius: 30px;


}

.galeriimg {
   
    box-shadow: 0px 0px 10 bisque;
    border-radius: 30px;

}
.colorLetra{
    color: black;
    font-family: 'Koulen', cursive; 
}
.actividades{
    margin-top: 20px;
}

#formu {
    color: rgb(68, 65, 65);
    font-family: 'Koulen', cursive;
}

.tturs {
    font-family: 'Koulen', cursive;
    color: bisque;
    font-size: larger;
}

.turs {
    color: bisque;
    font-size: medium;
    font-family: 'Poppins', sans-serif;

}

footer {
    grid-area: footer;
    width: 100%;
    color: rgb(68, 65, 65);
    background-color: bisque;
    list-style: none;
}

@media screen and (max-width: 1375px) {}

@media screen and (max-width: 950px) {
    .body .header .main .flex .tturs .turs {

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "cong1 rese2"
            "cente3 rose4"
            "mercado laboca";

    }
}

@media screen and (max-width: 730px) {}

@media screen and (max-width: 500px) {
    .body .header .main .flex .tturs .turs {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "cong1 rese2 cente3"
            "rose4 mercado laboca";
    }

}


@media screen and (max-width: 300px) {


    .body .header .main .flex .tturs .turs {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "cong1 rese2 cente3"
            "rose4 mercado laboca";

    }
}